.entry-form {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 12px;
  width: 80vw;
  max-width: 640px;
  height: 80vh;
  padding: 16px;
  box-sizing: border-box;
  position: relative;
}

.entry-form__logo {
  display: block;
  width: 35vw;
  max-width: 112px;
  margin: 40px auto;
}

.entry-form__title {
  font-size: 32px;
  text-align: center;
  margin: 0 auto 8% auto;
}

.entry-form__description {
  font-size: 24px;
  text-align: center;
  max-width: 60%;
  margin: auto;
}

.entry-form__button {
  cursor: pointer;
  border: none;
  background: #6a06fa;
  border-radius: 12px;
  padding: 12px;
  font-size: 20px;
  color: #f1f1f1;
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
}
