.header {
  padding: 12px;
  background: linear-gradient(
    180deg,
    rgba(27, 27, 27, 0.7) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  position: relative;
}

.header__logo-bg {
  position: absolute;
  width: 40px;
  height: 14px;
  background: white;
  bottom: 25px;
  left: 16px;
}

.header__logo {
  width: 48px;
  position: relative;
  z-index: 10;
}
