.home-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  overflow: overlay;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  height: 100vh;
}

.home-container__hero {
  scroll-snap-align: start;
  background: url("/public/assets/images/home-hero.jpg");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.home-container__hero-content {
  flex: 1;
  display: flex;
  align-items: center;
  max-width: 60vw;
  margin: auto;
}

.home-container__hero-title {
  background: rgb(27 27 27 / 70%);
  margin-bottom: 20vh;
  padding: 32px;
  color: #f3f3f3;
  border-radius: 16px;
  font-size: 24px;
  text-align: justify;
}

.home-container__entry-form {
  scroll-snap-align: start;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 960px) {
  .home-container__hero-content {
    max-width: 90vw;
  }
}
